<!-- _includes/cta.html -->
<div class="cta">

  <p>Facing infrastructure or compliance pressure? <br>
<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/greg-anchoraccord?background_color=f2f4f8&primary_color=003366'});return false;">Request a Briefing</a>
<!-- Calendly link widget end -->  
    
  
  </p>
</div>
